
<div class="container">
  
<h1 class="center">Bangin' Burgers</h1>

  <div class="row center">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <i class="material-icons prefix">local_dining</i>
          <input placeholder="What would you like to order?" id="userInput" class="materialize-textarea"></input>
          <label for="userInput"></label>
        </div>
      </div>
      <a id="submit" class="waves-effect waves-light btn">Order</a>
    </form>
  </div>

  <div class="row">

    <div class="col s6">

    <ul>

      {{#each burgers}}

        {{#unless devoured}}

          <li>

            <a class="getDevoured" data-id="{{id}}" data-devoured="{{devoured}}"><i class="material-icons">
                restaurant
            </i></a>

            {{burger_name}}

            {{!-- <button class="getDevoured" data-id="{{id}}" data-devoured="{{devoured}}">
              EAT!
            </button> --}}
            
          </li>

        {{/unless}}

      {{/each}}

    </ul>

    </div>

    <div class="col s6">

    <ul>

      {{#each burgers}}

        {{#if devoured}}

          <li>

            {{burger_name}}
            
          </li>

        {{/if}}

      {{/each}}

    </ul>

    </div>


  </div>

</div>